body, container {
	width: 100%;
}

@media screen and (min-width: 768px) {
	iframe {
		min-width: 768px;
	}
}

@media screen and (min-width: 992px) {
	iframe {
		min-width: 992px;
	}
}

@media screen and (min-width: 1200px) {
	iframe {
		min-width: 1200px;
	}
}

input[type=radio], input[type=checkbox] {
	/* position: absolute; */
	visibility: hidden;
	display: none;
}

h1 {
	color: #cc6633;
	font-size: 2.2rem;
	line-height: 1.4;
	font-weight: bold;
	margin-top: 0;
}

h3 {
	color: #cc6633;
	font-size: 20px;
	line-height: 1.4;
}

label {
	display: inline-block;
	/* cursor: pointer; */
	font-weight: bold;
	padding: 5px 18px;
	border-radius: 5px;
}

/* CHECKBOX CONTROL*/
input[type=radio]+label, input[type=checkbox]+label {
	color: #2e2019;
	/* color: #cc6633; */
	cursor: pointer;
}

input[type=radio]:hover+label, input[type=checkbox]:hover+label {
	background-color: #ffcc008c;
	color: #f5f5f5;
}

input[type=radio]:checked+label, input[type=checkbox]:checked+label {
	background-color: #ffcc00de;
	color: #3d1f10;
}

/* CHECKBOX AND RADIO*/
.checkbox-control input[type=radio]+label, .checkbox-control input[type=checkbox]+label
	{
	color: #9a929e;
	cursor: pointer;
	padding: 5px 16px;
}

.checkbox-control input[type=radio]:checked+label, .checkbox-control input[type=checkbox]:checked+label
	{
	color: #ccc8ce;
	background: #675f6b;
}

.checkbox-control input[type=radio]:hover+label, .checkbox-control input[type=checkbox]:hover+label
	{
	color: #ccc8ce;
	background: #7a737e;
}

.radio-group {
	border: solid 3px #675f6b;
	display: inline-block;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
}

/* SETTINGS BUTTON*/
.btn-bestlist {
	background-color: #ffcc00;
	color: #fcfcfc;
	margin: 20px;
	font-weight: bold;
}

.btn-bestlist:hover {
	background-color: #ffcc00;
	color: #cc6633;
}

.btn-setting {
	background-color: #ffcc007c;
	color: #cc6633;
	margin: 20px;
}

.btn-setting:hover {
	background-color: #ffcc007c;
	color: #000000;
}

.inline {
	display: inline;
}

.link-button, a {
	background: none;
	border: none;
	color: #cc6633;
	text-decoration: underline;
	cursor: pointer;
	font-size: 1em;
	/* font-family: serif; */
}

.link-button:focus, a:focus {
	outline: none;
}

.link-button:hover, a:hover {
	text-decoration: none;
}

.link-button:active, a:active {
	color: #c44100;
}