body, container {
	width: 100%;
}

@media screen and (min-width: 768px) {
	iframe {
		min-width: 768px;
	}
}

@media screen and (min-width: 992px) {
	iframe {
		min-width: 992px;
	}
}

@media screen and (min-width: 1200px) {
	iframe {
		min-width: 1200px;
	}
}

/** REMOVE SPINNER FROM NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

input[type=radio], input[type=checkbox] {
	/* position: absolute; */
	visibility: hidden;
	display: none;
}

h1 {
	color: #cc6633;
	font-size: 2.2rem;
	line-height: 1.4;
	font-weight: bold;
	margin-top: 0;
}

h3 {
	color: #cc6633;
	font-size: 20px;
	line-height: 1.4;
}

label {
	display: inline-block;
	/* cursor: pointer; */
	font-weight: bold;
	padding: 5px 18px;
	border-radius: 5px;
}

/* CHECKBOX CONTROL*/
input[type=radio]+label, input[type=checkbox]+label {
	color: #2e2019;
	/* color: #cc6633; */
	cursor: pointer;
}

input[type=radio]:hover+label, input[type=checkbox]:hover+label {
	background-color: #ffe57e;
	color: #f5f5f5;
}

input[type=radio]:checked+label, input[type=checkbox]:checked+label {
	background-color: #ffcc00;
	color: #3d1f10;
}

/* CHECKBOX AND RADIO*/
.checkbox-control input[type=radio]+label, .checkbox-control input[type=checkbox]+label
	{
	color: #9a929e;
	cursor: pointer;
	padding: 5px 16px;
}

.checkbox-control input[type=radio]:checked+label, .checkbox-control input[type=checkbox]:checked+label
	{
	color: #ccc8ce;
	background: #675f6b;
}

.checkbox-control input[type=radio]:hover+label, .checkbox-control input[type=checkbox]:hover+label
	{
	color: #ccc8ce;
	background: #7a737e;
}

.radio-group {
	border: solid 3px #675f6b;
	display: inline-block;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
}

/* SETTINGS BUTTON*/
.btn-bestlist {
	background-color: #ffcc00;
	color: #fcfcfc;
	margin: 20px;
	font-weight: bold;
}

.btn-bestlist:hover {
	background-color: #ffcc00;
	color: #cc6633;
}

.btn-setting {
	background-color: #ffcc007c;
	color: #cc6633;
	margin: 20px;
}

.btn-setting:hover {
	background-color: #ffcc007c;
	color: #000000;
}

.inline {
	display: inline;
}

.link-button, a {
	background: none;
	border: none;
	color: #cc6633;
	text-decoration: underline;
	cursor: pointer;
	font-size: 1em;
	/* font-family: serif; */
}

.link-button:focus, a:focus {
	outline: none;
}

.link-button:hover, a:hover {
	text-decoration: none;
}

.link-button:active, a:active {
	color: #c44100;
}


/****************/
/* AUTOCOMPLETE */
/****************/

/* * { box-sizing: border-box; }
body {
  font: 16px Arial;
} */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  /* display: inline-block; */
}
/* input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
} */
input[type=text] {
  background-color: #f1f1f1;
  /* width: 100%; */
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}       	

.nameContainer{
	overflow: hidden;
}

.selectedAthleteName {
	background-color: white;
	color: #000000;
	float: left;
	position: relative;
}

.removeAthlete{
	background-color: white;
	color: brown;
	float: left;
	padding-left: 5px;
	position: relative;
}

/* INPUT AUTOCOMPLETE */

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}
/* input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
} */
/* input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}
input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
} */
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}